
.corpo-card {
  max-height: 550px;     /* altura máxima visível */
  overflow-y: auto;      /* ativa a rolagem vertical se necessário */
  padding: 1rem;         /* espaçamento interno */
  border: 1px solid #c4c3c3b7; /* borda para visualizar o contorno */
  border-radius: 5px;
  background-color: #FFFFFF;    /* Define o fundo branco para a section */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  /* Adiciona sombra externa suave, criando efeito de profundidade */
  padding-right: 30px; /* espaço interno no lado direito do conteúdo */
  padding-left: 10px;   /* espaço interno no lado esquerdo do conteúdo */
  margin-left: 10px;  /* margem externa no lado esquerdo do elemento. */
}

