.receitas-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

/* Layout com 3 componentes visíveis */
.layout-triplo .receitas-lista-container,
.layout-triplo .receita-completa-container,
.layout-triplo .favoritos-container {
  flex: 1;
  max-width: 70%;
}

/* Layout com 2 componentes visíveis */
.layout-duplo section {
  flex: 1;
  max-width: 48%;
}


/* Somente lista – à esquerda */
.layout-somente-lista {
  justify-content: flex-start;
}
.layout-somente-lista .receitas-lista-container {
  max-width: 600px;
}

/* Somente favoritos – à direita */
.layout-somente-favoritos {
  justify-content: flex-end;
}
.layout-somente-favoritos .favoritos-container {
  max-width: 600px;
}



