<app-buscar-receita (buscar)="aoBuscarReceita($event)"></app-buscar-receita>

<div [ngClass]="layoutClasse" class="receitas-container">

  <div *ngIf="mostrarLista"  class="receitas-lista-container">
    <app-lista-receitas [receitas]="receitas"></app-lista-receitas>
  </div>

  <div *ngIf="mostrarReceitaCompleta"  class="receita-completa-container">
    <router-outlet name="detalhes"></router-outlet> <!-- receita-completa -->
  </div>

  <div *ngIf="mostrarFavoritos"  class="favoritos-container">
     <router-outlet name="receitaFav"></router-outlet>
  </div>

</div>
