.container-card{
  display: flex;                 /* Ativa o Flexbox para alinhar os elementos filhos */
  flex-direction: column;        /* Organiza os filhos em uma coluna (um abaixo do outro) */
  align-items: stretch;          
  position: relative;            /* Permite que elementos filhos com position: absolute se posicionem relativos a esta section */
  width: 635px;
 /*  gap: 1rem;  espaço entre os componentes */

}



